body {
  background-color: #1e1d1d;
  color: #f3fdfc;
  font-size: 16px;
  font-family: 'Raleway';
}

h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -55px
}

h2 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
